* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.hero-section {
    text-align: center;
    padding-top: 230px;
}

.hero-section h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-section p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.donet-system {
    text-align: center;
    margin-top: 100px;
    height: 500px;
}

.donet-system h2 {
    font-size: 45px;
    color: #121212;
    margin-bottom: 15px;
}

.donet-system p {
    margin-bottom: 50px;
}

.flexiable-container {
    display: flex;
    justify-content: center;
}

.donate-amounts {
    margin-right: 50px;
    background-color: #d6cdcd;
    padding: 38px 25px;
    margin-bottom: 20px;
}

.donate-amounts h4 {
    font-size: 20px;
    color: #707070;
}

.active {
    background-color: #FFEEEE;
    border: 1px solid tomato;

}

.active h4 {
    color: tomato;
}

.donet-system input {
    width: 500px;
    border-width: 0 0 1px;
    border-color: 1px solid #B3B3B3;
    padding-bottom: 5px;
}

.donet-system input::placeholder {
    text-align: center;
}