* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.hero-section {
    text-align: center;
    padding-top: 230px;
}

.hero-section h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-section p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.donet-system {
    text-align: center;
    margin-top: 100px;
    height: 500px;
}

.donet-system h2 {
    font-size: 45px;
    color: #121212;
    margin-bottom: 15px;
}

.donet-system p {
    margin-bottom: 50px;
}

.flexiable-container {
    display: flex;
    justify-content: center;
}

.donate-amounts {
    margin-right: 50px;
    background-color: #d6cdcd;
    padding: 38px 25px;
    margin-bottom: 50px;
}

.donate-amounts h4 {
    font-size: 20px;
    color: #707070;
}

.active {
    background-color: #FFEEEE;
    border: 1px solid tomato;

}

.active h4 {
    color: tomato;
}

.donet-system input {
    width: 500px;
    border-width: 0 0 1px;
    border-color: 1px solid #B3B3B3;
    padding-bottom: 5px;
}

.donet-system input::placeholder {
    text-align: center;
}

.donate-plan {
    text-align: center;
    height: 600px;
}

.donate-plan h2 {
    font-size: 45px;
    color: #121212;
    margin-bottom: 15px;
}

.donate-plan-box {
    padding: 100px 20px;
    margin-right: 10px;
    text-align: left;
    width: 33%;
}

.color1 {
    background-color: rgba(80, 29, 20, 0.233);
}

.color2 {
    background-color: rgba(211, 73, 49, 0.233);
}

.color3 {
    background-color: rgba(49, 6, 77, 0.233);
}

.m-1 {
    margin-bottom: 30px;
}

.donation-receipt {
    height: 400px;
}

.half-width {
    width: 50%;
    margin-left: 100px;
}

.half-width img {
    width: 70%;
}

.receipt-text {
    margin-top: 100px;
}

.receipt-text h2 {
    margin-bottom: 15px;
    color: #121212;
    font-size: 45px;
}

.receipt-text p {
    margin-bottom: 15px;
}

.newslatter {
    margin-top: 100px;
    height: 500px;
}

.pb {
    padding-bottom: 20px;
}

.newslatter-heading {
    text-align: center;
}

.newslatter-heading h2 {
    font-size: 45px;
    color: #121212;
    margin-bottom: 15px;
}

.newslatter-heading p {
    margin-bottom: 30px;
}

form {
    width: 400px;
    margin: 0 auto;
    background-color: #FFF4D6;
    padding: 50px 100px;
    text-align: center;
}

.email {
    padding: 9px;
}

button {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

footer {
    height: 100px;
    background-color: #121212;
}

footer p {
    text-align: center;
    color: #d6cdcd;
    padding-top: 40px;
}