* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
}

.hero-section {
    text-align: center;
    padding-top: 230px;
}

.hero-section h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-section p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #FF5959;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}